name: "Task"

base: "PersistedModel"
strict: false

mongodb:
  allowExtendedOperators: true

properties:

  chain:
    type: [ 'string' ]

  events:
    type: 'object'

  strategy:
    type: 'string'

  status:
    type: 'string'
    default: 'queued'

  params:
    type: 'object'

  queue:
    type: 'string'
    default: 'default'

  count:
    type: 'number'
    default: 0

  delay:
    type: 'date'
    defaultFn: 'now'

  priority:
    type: 'number'
    default: 0

  ended:
    type: 'date'

  enqueued:
    type: 'date'
    defaultFn: 'now'

  result:
    type: 'object'

  error:
    type: 'object'

  stack:
    type: 'object'

validations: []

relations:

  item:
    type: "belongsTo"
    polymorphic: true

acls: [
  {
    principalType: "Role"
    principalId: "$everyone"
    permission: "DENY"
  }
  {
    principalType: "Role"
    principalId: "workflow:read"
    permission: "ALLOW"
    accessType: "READ"
  }
]
methods: {}