name: "Workflow"

base: "PersistedModel"

mongodb:
  allowExtendedOperators: true

properties:

  name:
    type: 'string'
    required: true

  chain:
    type: [ 'string' ]

  queue:
    type: 'string'

validations: []
relations: {}

acls: [
  {
    principalType: "Role"
    principalId: "$everyone"
    permission: "DENY"
  }
]
methods: {}